<!-- loginPage.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/styles.css" rel="stylesheet" />
    <style>
      #loginpage {
        padding-top: 56px;
      }

      #main-content {
        margin-top: 80px;
      }
    </style>
    <script>
      function logLoginAttempt() {
        console.log("사용자가 로그인을 시도하였습니다.");
      }
    </script>
  </head>
  <body id="page-top loginpage">
    {% include "pages/header.html" %}
    <div id="main-content">
      {% block content %}
      <h2>Login</h2>
      {% if messages %} {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %} {% endif %}
      <form
        method="post"
        action="{% url 'loginPage' %}"
        onsubmit="logLoginAttempt()"
      >
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <input type="submit" value="Login" />
      </form>
      <a href="{% url 'signup' %}">회원가입</a>
      {% endblock %}
    </div>
    {% include "pages/footer.html" %}
  </body>
</html>
