<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDietBuddy</title>
    <!-- <link rel="stylesheet" href="/css//main.css"> -->
</head>
<body>
    <header>
        <div class="logo">MyDietBuddy</div>
        <nav>
            <ul>
                <li><a href="#about">회사 소개</a></li>
                <li><a href="#gallery">레시피 게시판</a></li>
                <li><a href="#testimonials">고객 후기</a></li>
                <li><a href="#contact">문의하기</a></li>
                <li><a href="#login">로그인</a></li>
                <li><a href="#signup">회원가입</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section id="about">
            <h2>어플리케이션 안내</h2>
        </section>

        <section id="services">
            <h2>서비스 소개</h2>
            <div class="service-highlights">
                <div class="highlight">
                    <h3>맞춤형 레시피 추천</h3>
                    <p>AI 알고리즘을 통해 개인 맞춤형 레시피를 추천합니다.</p>
                </div>
                <div class="highlight">
                    <h3>식단 계획 및 관리</h3>
                    <p>식단 계획과 관리를 쉽게 할 수 있습니다.</p>
                </div>
                <div class="highlight">
                    <h3>영양 섭취 분석 및 리포트</h3>
                    <p>영양 섭취를 분석하고 리포트를 제공합니다.</p>
                </div>
            </div>
        </section>
      
              <section class="hero">
            <div class="hero-text">
                <h1>AI로 만나는 당신만의 맞춤 레시피</h1>
                <button class="cta-button">지금 바로 앱 다운로드</button>
            </div>
        </section>

        <section id="app-intro">
            <h2>앱 소개</h2>
            <div class="app-intro-content">
                <img src="../images/AppMockup.png" alt="App Mockup">
                <div class="app-details">
                    <h3>MyDietBuddy</h3>
                </div>
              
              <div>
               <ul>
                <li>식품 알레르기 환자</li>
                <li>당뇨병 환자</li>
                <li>암 환자 및 회복기 환자</li>
                <li>특별한 영양 관리가 필요한 어린이 및 청소년</li>
                <li>임산부 및 수유부</li>
                <li>고령자</li>
                <li>체중 관리가 필요한 사람</li>
                <li>채식주의자 및 비건</li>
            </ul>
            </div>
        </section>

        <section id="usage">
            <h2>사용 방법 안내</h2>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 MyDietBuddy. All rights reserved.</p>
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <div class="footer-links">
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
        </div>
    </footer>
</body>
</html>
