<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시판 상세 페이지</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    {% include "pages/header.html" %}
    <h1>게시판 상세 페이지</h1>
    {% if post_list %} {% for post_content in post_list %}
    <hr />
    <h3>{{ post_content.title }}</h3>
    {% if post_content.image %}
    <img
      src="{{ post_content.image.url }}"
      alt="Post Image"
      style="width: 200px; height: 200px"
    />
    {% endif %}
    <h5>{{ post_content.content }}</h5>
    <p>Published on: {{ post_content.pub_date }}</p>
    {% endfor %} {% else %}
    <p>content가 없습니다.</p>
    {% endif %} {% include "pages/footer.html" %}
  </body>
</html>
